<a href="https://colab.research.google.com/github/iamlekh/NLP/blob/master/C1_W3_L1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [96]:
import numpy as np

In [97]:
alist = [1, 2, 3, 4, 5] 
narray = np.array([1, 2, 3, 4])

In [98]:
print(alist)
print(narray)

print(type(alist))
print(type(narray))

[1, 2, 3, 4, 5]
[1 2 3 4]
<class 'list'>
<class 'numpy.ndarray'>

In [99]:
print(narray + narray)
print(alist + alist)

[2 4 6 8]
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [100]:

print(narray * 3)
print(alist * 3)

[ 3  6  9 12]
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [101]:
npmatrix1 = np.array([narray, narray, narray]) 
npmatrix2 = np.array([alist, alist, alist]) 
npmatrix3 = np.array([narray, [1, 1, 1, 1], narray]) 

print(npmatrix1)
print(npmatrix2)
print(npmatrix3)

[[1 2 3 4]
 [1 2 3 4]
 [1 2 3 4]]
[[1 2 3 4 5]
 [1 2 3 4 5]
 [1 2 3 4 5]]
[[1 2 3 4]
 [1 1 1 1]
 [1 2 3 4]]

In [102]:
okmatrix = np.array([[1, 2], [3, 4]]) 
print(okmatrix) 
print(okmatrix * 2)

[[1 2]
 [3 4]]
[[2 4]
 [6 8]]

In [103]:
badmatrix = np.array([[1, 2], [3, 4], [5, 6, 7]]) 
print(badmatrix) 
print(badmatrix * 2)

[list([1, 2]) list([3, 4]) list([5, 6, 7])]
[list([1, 2, 1, 2]) list([3, 4, 3, 4]) list([5, 6, 7, 5, 6, 7])]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  """Entry point for launching an IPython kernel.

In [104]:
result = okmatrix * 2 + 1 
print(result)

[[3 5]
 [7 9]]

In [105]:
result1 = okmatrix + okmatrix
print(result1)

result2 = okmatrix - okmatrix
print(result2)

[[2 4]
 [6 8]]
[[0 0]
 [0 0]]

In [106]:

result = okmatrix * okmatrix 
print(result)

[[ 1  4]
 [ 9 16]]

In [107]:
matrix3x2 = np.array([[1, 2], [3, 4], [5, 6]]) 
print('Original matrix 3 x 2')
print(matrix3x2)
print('Transposed matrix 2 x 3')
print(matrix3x2.T)

Original matrix 3 x 2
[[1 2]
 [3 4]
 [5 6]]
Transposed matrix 2 x 3
[[1 3 5]
 [2 4 6]]

In [108]:
nparray = np.array([1, 2, 3, 4]) 
print('Original array')
print(nparray)
print('Transposed array')
print(nparray.T)

Original array
[1 2 3 4]
Transposed array
[1 2 3 4]

In [109]:
nparray = np.array([[1, 2, 3, 4]]) # Define a 1 x 4 matrix. Note the 2 level of square brackets
print('Original array')
print(nparray)
print('Transposed array')
print(nparray.T)

Original array
[[1 2 3 4]]
Transposed array
[[1]
 [2]
 [3]
 [4]]

In [110]:

nparray1 = np.array([1, 2, 3, 4]) 
norm1 = np.linalg.norm(nparray1)

nparray2 = np.array([[1, 2], [3, 4]]) 
norm2 = np.linalg.norm(nparray2) 

print(norm1)
print(norm2)

5.477225575051661
5.477225575051661

In [111]:

nparray2 = np.array([[1, 1], [2, 2], [3, 3]]) 

normByCols = np.linalg.norm(nparray2, axis=0) 
normByRows = np.linalg.norm(nparray2, axis=1) 

print(normByCols)
print(normByRows)

[3.74165739 3.74165739]
[1.41421356 2.82842712 4.24264069]

In [112]:
nparray1 = np.array([0, 1, 2, 3])
nparray2 = np.array([4, 5, 6, 7])

flavor1 = np.dot(nparray1, nparray2) 
print(flavor1)

flavor2 = np.sum(nparray1 * nparray2) 
print(flavor2)

flavor3 = nparray1 @ nparray2         
print(flavor3)

flavor4 = 0
for a, b in zip(nparray1, nparray2):
    flavor4 += a * b
    
print(flavor4)

38
38
38
38

In [113]:
norm1 = np.dot(np.array([1, 2]), np.array([3, 4])) 
norm2 = np.dot([1, 2], [3, 4])

print(norm1, '=', norm2 )

11 = 11

In [114]:

nparray2 = np.array([[1, -1], [2, -2], [3, -3]])

sumByCols = np.sum(nparray2, axis=0) 
sumByRows = np.sum(nparray2, axis=1) 

print('Sum by columns: ')
print(sumByCols)
print('Sum by rows:')
print(sumByRows)

Sum by columns:
[ 6 -6]
Sum by rows:
[0 0 0]

In [115]:
nparray2 = np.array([[1, -1], [2, -2], [3, -3]]) 

mean = np.mean(nparray2) 
meanByCols = np.mean(nparray2, axis=0) 
meanByRows = np.mean(nparray2, axis=1) 

print('Matrix mean: ')
print(mean)
print('Mean by columns: ')
print(meanByCols)
print('Mean by rows:')
print(meanByRows)

Matrix mean:
0.0
Mean by columns:
[ 2. -2.]
Mean by rows:
[0. 0. 0.]

In [116]:
nparray2 = np.array([[1, 1], [2, 2], [3, 3]]) 

nparrayCentered = nparray2 - np.mean(nparray2, axis=0) 

print('Original matrix')
print(nparray2)
print('Centered by columns matrix')
print(nparrayCentered)

print('New mean by column')
print(nparrayCentered.mean(axis=0))

Original matrix
[[1 1]
 [2 2]
 [3 3]]
Centered by columns matrix
[[-1. -1.]
 [ 0.  0.]
 [ 1.  1.]]
New mean by column
[0. 0.]

In [117]:

nparray2 = np.array([[1, 3], [2, 4], [3, 5]]) 

nparrayCentered = nparray2.T - np.mean(nparray2, axis=1) 
nparrayCentered = nparrayCentered.T 

print('Original matrix')
print(nparray2)
print('Centered by columns matrix')
print(nparrayCentered)

print('New mean by rows')
print(nparrayCentered.mean(axis=1))

Original matrix
[[1 3]
 [2 4]
 [3 5]]
Centered by columns matrix
[[-1.  1.]
 [-1.  1.]
 [-1.  1.]]
New mean by rows
[0. 0. 0.]

In [118]:
nparray2 = np.array([[1, 3], [2, 4], [3, 5]]) 

mean1 = np.mean(nparray2) 
mean2 = nparray2.mean()   

print(mean1, ' == ', mean2)

3.0  ==  3.0